<body>
    <div>     
        <div id="container">          
            <main>
                <h1>Welcome to KingUni Wiki!</h1>
                <section id="featured">
                    <h2>Latest articles</h2>
                    {{#each articles}}
                    <article>
                        <h3>{{title}}</h3>
                        <p>
                            {{description}}&hellip;
                        </p>
                        <div class="controls">
                            <a href="/article/{{id}}">Read more</a>
                        </div>
                    </article>
                    {{else}}
                    <br>
                    <br>
                    <h1>NO ARTICLES FOUND</h1>
                    {{/each}}
                </section>
            </main>
            <footer>
                KingUni Wiki &copy; 2020
            </footer>
        </div>
    </div>
</body>